<% if Spree::AdvancedCart::Config[:enable_coupon_applying] %>
  <div id="applying_coupon" class="links columns ten alpha">
    <h3><%= t(:apply_coupon) %></h3>
    <label><%= t(:coupon_code) %></label>
    <%= order_form.text_field :coupon_code, :size => 19 %>
    <span class="ajax_loader"><%= image_tag 'spinner.gif', :alt => t('loading') %></span>
    <%= order_form.submit t("apply") %>
  </div>
  <div class="columns six omega">
    <table id="order-charges">
      <tbody>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <tr>
            <td class="adjustment_label"><strong><%= adjustment.label %></strong></td>
            <td><span class="price"><%= number_to_currency adjustment.amount %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
